<!DOCTYPE html>
<html ng-app="toDoModule">
<head>
	<title>Lab 12</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body ng-controller ="toDoController">
	
<h1>To-Do List</h1>
	<input type="text" placeholder="Filter..." ng-model="choreFilter">
	<ul>
		<li ng-repeat="chore in chores | filter: choreFilter track by $index"><button type="submit" ng-click="removeChore(chore)">x</button>{{chore}}</li>

	</ul>

	<form>
		<input  type="text" placeholder="Chores..." ng-model="choreToAdd">
			<button type="submit" id="button" ng-click="onClick(choreToAdd)">Add</button>
	</form>		


<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>