
body{
	background-color: rgb(217, 217, 217);
}

div{
	
	margin: auto;
	width: 50%;
	height:700px;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1c/Hindenburg_disaster.jpg');
	background-repeat: no-repeat;
	color: white;
}

section{
	padding-top:60%;
	padding-left:5%;

}